@media only screen and (max-width: 426px) {


    .header__nav-list{
        display: none;
    }

    .header__nav-button{
        display: inline;
        margin-right: 15px;
        cursor: pointer;
    }

    .logo__ellipse{
        width: 21px;
        height: 21px;
    }

    .logo__text-ellipse{
        font-size: 13px;
    }

    .logo__name{
        font-size: 12px;
        line-height: 15px;  
        margin-left: 5px;
    }
    
    .header__nav{
        width:50%;
        justify-content: end;
    }

    .header__nav-list--open{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
    
    }

    .header__nav-button-close{
        text-align: start;
        padding: 0;
        font-family: "Mulish";
        font-weight: 400;
        font-size: 18px;
        color: #1F1534;
    }

    .header__illustration{
        display: none;
    }
    
    .header__info{
        width: 300px;
        margin: auto auto;
    }

    .header__button{
        margin:40px auto;
    }

    .main__div--display{
        display: none;
    }

    .main__div--center{
        margin: 40px auto;
    }

    .main__text-size36{
        font-size: 36px;
        margin:20px auto;
    }   

    .main__img{
        display: none;
    }

    .main__flex-container--column{
        flex-direction: column;
    }

    .sec05{
        margin: 200px 0;
    }

    .footer__block{
        display: none; 
    }

    .info-block{
     width: auto;
     margin: 0px;
    }

    .container {
        max-width: 425px;
        padding: 0;
        width:100%;
        margin: 0 auto;
    }
}