@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mulish:wght@300;400;600;700&display=swap');

.header{
    display: flex;
    flex-direction: column;
}

.header__flex{
    display: flex;
    justify-content: space-between;
}

.header__nav-list{
    list-style-type:none;
}

.header__nav-list--inline{
    display: inline;
    margin-right: 40px;
}

.logo{
    display: flex;
    font-family:'Mulish';
    font-style: normal;
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;
    order:1;
    width: auto;
}

.logo__ellipse{
    float: left; 
    shape-outside: ellipse(); 
    clip-path: ellipse(); 
    width: 41px;
    height: 41px;
    background:#458FF6;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.logo__ellipse--white{
    background:#FFFFFF;
}

.logo__text-ellipse{
    font-size: 26px;
    line-height: 33px;
    color: #FFFFFF;
    margin: 5px 11px 4px 13px;
}

.logo__text-ellipse--blue{
    color:#5B9BF3;
}

.logo__name{
    font-size: 24px;
    line-height: 30px;  
    margin-left: 10px;
}

.logo__name--white{
    color:white;  
}

.header__illustration{
    align-self: end;
    justify-self: end;
    order:4;
}

.header__info{
    justify-self: center;
    align-self:center ;
    width: 470px;
}

.header__nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    width: 650px;
    order:2;
}



.header__nav-button{
    display: none;
    border: none;
    color: #000000;
    background-color: #FFFFFF;
    font-family: 'Mulish';

}

.header__info-h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
}

.header__info-standart{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;    
    color: #7D7987;
}

.header__button{
    display: flex;
    background-color: #458FF6;
    border-color: #458FF6;
    border-radius: 55px;
    align-items: center;
    justify-content: center;
    padding:10px 40px;
    margin-top: 45px;
    cursor:pointer;
}

.header__button:hover{
    background: #FFFFFF;
}

.header__button-text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.header__button:hover .header__button-text{
    color:#458FF6;
}

.header__nav-link{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
    text-decoration: none;   
    cursor: pointer;  
}

.header__nav-button-close{
    display: none;
}

.header__nav-link--hover{
    opacity:1;
    font-weight: 700;
}

.main{
    margin-top: 190px;
}

.sec01{
    padding: 0px auto;
}

.main__text-size36{
    font-family: "Mulish";
    font-size: 36px;
    font-weight: 700;
}

.main__text-size18{
    font-family: "Mulish";
    font-size: 18px;
    font-weight: 300;
    color:#7D7987;
}

.card__text-size21{
    font-family: "Mulish";
    font-size: 21px;
    font-weight: 700;
    color: #000000;
    margin:20px 0px 10px 0px;
}

.main__text-size16{
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 300;
    color:#7D7987;
    line-height: 28px;
    width: 266px;
}

.quote__text-size22{
    font-family: "Mulish";
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    white-space: nowrap;
}

.service__text-size24{
    font-family: "Mulish";
    font-size: 24px;
    font-weight: 700;
    color:#000000;
}

.main__text--align-center{
    text-align: center;
}

.main__title-underline{
    margin: 0px auto 30px;
}

.main__title-underline::after{
    content: '';
    display: block;
    height: 2px;
    background: #000000;
    width: 56px;
    margin: 26px auto 33px;
}

.main__title-underline-left::after{
    content: '';
    display: block;
    height: 2px;
    background: #000000;
    width: 56px;
    margin-top:30px
}

.main__flex-container--sec02{
    column-gap:120px;
    margin: 220px 135px 0px 135px;
}

.services{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.service{
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    padding: 50px 40px 40px 40px;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    cursor: pointer;
}

.service:hover{
    border:solid 1px #000000;
}

.main__button{
    position: relative;
    padding:10px 40px;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #458FF6;
    background: #FFFFFF;
    cursor:pointer;
}

.main__title-underline--white::after{
    content: '';
    display: block;
    height: 2px;
    background: #FFFFFF;
    width: 56px;
    margin: 26px auto 33px;
}

.main__button--display-block{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    display: block;
}

.main__flex-container{
    display: flex;
    justify-items: center;
    align-items: center;
}


.main__flex-container--overflow{
    overflow: hidden;
}

.main__flex-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__flex-container--sec03{
    column-gap:120px;
    margin: 220px 135px 0px 135px;
    flex-direction: row-reverse;
}

.main__flex-container--gap{
    align-items:flex-start;
    flex-direction: column;
    row-gap: 40px;
}

.main__flex-container--row{
    flex-direction: row;
}

.main__flex-container--space-around{
    justify-content: space-around;
}

.main__text-size36--color{
    color:#FFFFFF;
}

.sec04{
    margin:260px auto 0px;
    padding:64px 120px 90px 120px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    width:fit-content;
    flex-shrink: 0;
}

.sec04__slide--order{
    order:-1;
}

.title_sec04::after{
    content: '';
    display: block;
    height: 2px;
    background: #FFFFFF;
    width: 56px;
    margin: 26px auto 33px;
}

.quote{
    margin-right: 110px;
    margin-left: 30px;
}

.navRadio__button--display{
    display:none;
}

.navRadio__label{
    display: inline-block;
    margin: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5B9BF3;
    cursor: pointer;
    opacity: 0.3;
    transition: .5s;
    margin-left: 18;
}

.navRadio__img{
    margin-left: 90px;
    margin-right: 90px;
    cursor: pointer;
}

.navRadio__label--checked{
    opacity: 1;
}

.navRadio{
margin-top: 47px;
}

.title_sec05::after{
    content: '';
    display: block;
    height: 2px;
    background: #000000;
    width: 56px;
    margin: 26px auto 33px;
}

.card{
    width:350px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}

.card__info{
    margin-left:33px;
    margin-right: 20px;
}

.card__img{
    border-radius: 20px 20px 0px 0px;
}

.card__button{
    border:none;
    background-color: #FFFFFF;
    margin: 25px 50px 35px 33px;
    font-size: 17px;
    font-family: 'Mulish';
    font-weight: 600;
    align-items: center;
    color:#4089ED;
    cursor: pointer;
}

.sec05{
    margin: 220px 240px 0px 240px;
}



.footer{
    display: flex;
    flex-direction: row;
    background:linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    column-gap: 150px;
    margin-top: 200px;
    justify-content: center;
}

.footer__text-size--white{
    color:#FFFFFF;
}

.info-block{
    margin:120px 0px 120px 190px;
    width: 390px;
}

.footer__flex-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
    row-gap: 20px;
}

.footer__flex-container--order{
    order:-1;
}

.footer__block{
    margin: 110px 0px 110px;
}

.footer__text-size20{
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
}

.footer__text--line-height{
    line-height: 38px;
}

.container{
    max-width: 1360px;
    width:100%;
    padding: 0 15px;
    margin: 0 auto;
}

.main__slide{
    max-width: 1360px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}